.DS_Store
.idea
dest
node_modules
npm-debug.log
bower_components
.cache-require-paths.json
.env
.cache
.icon_cache
src/metalsmith/styles/*
src/metalsmith/scripts/*
src/metalsmith/settings/stats.json
.netlify
yarn-error.log
.vscode
