// Controls
form#calculator-controls {
	text-align: left;
	.submit-container {
		text-align: center;
		@media(min-width:$screen-lg){
			padding-top:38px;
		}
		.btn {
			width: 100%;
		}
	}
	.help-text {
		color: #444;
		text-align: left;
		font-size: 14px;
	}
	.household-input-container{
		input {
			text-align: center;
			font-weight: 700;
		}
		&.children {
			margin-top:$grid-gutter-width;
			@media(min-width:$screen-sm){
				margin-top: 0;
			}
			.fa-user, .icon-user {
				font-size: 0.7em;
			}
		}
	}
	.household-container {
		.help-text {
			margin-top: 0;
		}
	}
}
// 

#calculator-body {
	&.uncalculated {
		.show-calculated, .show-calculating {
			display: none;
		}
	}
	&.calculating {
		.show-calculating {
			display: inherit;
		}
		.show-calculated {
			display: none;
		}
	}
	&.calculated {
		.show-calculating {
			display: none;
		}
		.show-calculated {
			display: inherit;
		}
	}

	.ct-bar {
		stroke-width:35%;
	}
	.calculator-comparison, .explanatory-interstitial, .calculator-outcome {
		p {
		    line-height: 1em;
		    font-size: 2em;
		    font-weight: 400;
		    color: #6C0000;
		    text-align: center;
		    .number {
			    line-height: 1em;
		    	font-size: 2em;
		    	font-weight: 700;
		    	display: block;
		    }
		}
	}
	#donation-amount {
		.slider {
			width:100%;
		}
	}
	.explanatory-interstitial {
		margin: $grid-gutter-width*2 auto;
		text-align: center;
	}
	.calculator-outcome {
		p{
			.number {
				line-height: 1.4em;
				font-size: 2.2em;
			}
		}
	}
	#call-to-action {
		p {
			line-height: 2.5em;
			&.challenge {
			    text-transform: uppercase;
			    font-size: 4em;
			    font-weight: bold;
			    text-decoration: underline;
			}
			&.action {
				color: #444;
				a {
					text-decoration: underline;
				}
			}
		}
	}
	.calculator-action {
		text-align: center;
		p {
			font-size: 1.5em;
		}
	}
	#back-to-top {
		text-align: center;
	}
}