@import 'components/calculator';
@import 'components/contentblock';
@import 'components/footnotes';
@import 'components/fundraising';
@import 'components/charity';
@import 'components/heading-permalink';
@import 'components/join-matrix';
@import 'components/logo';
@import 'components/pathway-model';
@import 'components/progress-bar';
@import 'components/quotation';
@import 'components/social';
@import 'components/team-member';
@import 'components/toc';

.content{
	overflow: hidden;
}

.btn {
	border-radius: 0 !important;
	// border-width: 2px;
	@media(max-width:$screen-xs-max){
		white-space: inherit;
	}
}
.btn-secondary {
    color: $site-primary;
    background-color: $site-secondary;
    border-color: darken($site-secondary,20%);
}


.contact-form-container {
	background-color: $gray-lighter;
	padding-bottom: $grid-gutter-width/2;
	@media(max-width:$container-md){
		padding-top: $grid-gutter-width /2;
	}
}



.centered-heading {
	@include centered-heading();
}


.bg-alternate {
	background-color: lighten($site-primary,50%)
}


.embed-responsive {
	width: 100%;
}

.noscript {
	display:none;
	.no-js & {
		display:block;
	}
}
.onlyscript {
	display:inherit;
	.no-js & {
		display:none;
	}
}

.footnote-backref {
	font-family: sans-serif;
}



span {

	&.gwwc {
		color: $gwwc !important;
	}

	&.eightythousandhours {
		color: $eightythousandhours !important;
	}
	&.gpp {
		color: $gpp !important;
	}
}


// members page

.member-list {
	.member-details {
		height: 140px;
		overflow: hidden;
	}
	.member-occupation {
		line-height: 1.4em;
		font-size: 16px;
	}
}


// nested ordered lists
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;

  &:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }
}

li ol > li {
  margin: 0;

  &:before {
    content: counters(item, ".") " ";
  }
}


