footer.footer {
	background-color: $site-primary;
	a{
		&:link,&:visited{
			color: #FFF;
		}
		&:hover,&:focus,&:active{
			color: $site-dark;
		}
	}
	min-height: 130px;
	margin-top: $grid-gutter-width;
	padding: 30px 0;
	.colophon{
		min-height: 90px;
	}
}