// @media (min-width: $screen-sm) {
// 	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
// 		height: 74px;
// 	}
// }
// @media (max-width: $screen-xs-max) {
// 	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
// 		padding-top: 12px;
// 	}
// }
.navbar {
	transition: opacity .25s ease-in-out;
	background-color: $site-primary;
	box-shadow: 0px 0px 15px #333;
	font-weight: 200;
}
.navbar-header {
	.navbar-brand {
		padding-top:10px;
		@media(max-width:$screen-xs-max){
			// padding-top:5px;
		}
	 	&:hover, &:focus {
	 		background-color: transparent;
	 	}
	}
	button {
		color: #FFF;
	}

}
.navbar-primary {
	border: none;
	.navbar-nav {
		> li > a {
			color: #FFF;
			&:hover, &:focus {
				background-color: $site-dark;
				color: #FFF;
			}
		}
		> li.active > a, > li.open > a {
			background-color: $site-dark;
			color: #FFF;
			&:hover, &:focus {
				background-color: $site-dark;
				color: #FFF;
			}
		}
	}
}

.dropdown-menu{
	&>li>a:hover, &>li>a:focus {
		background-color: $site-primary;
		color: #FFF;
	}
}