// @media (min-width: $screen-sm) {
// 	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
// 		height: 74px;
// 	}
// }
// @media (max-width: $screen-xs-max) {
// 	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
// 		padding-top: 12px;
// 	}
// }
.navbar {
	transition: opacity .25s ease-in-out;
	background-color: $site-primary;
	box-shadow: 0px 0px 15px #333;
}
.navbar-header {
	.navbar-brand {
		padding-top:10px;
		@media(max-width:$screen-xs-max){
			// padding-top:5px;
		}
	}
	button {
		color: #FFF;
	}
}
.navbar-default {
	// .navbar-brand:hover, 
	// .navbar-brand:focus,
	.navbar-nav>li>a:hover,
	.navbar-nav>li>a:focus {
		background-color: $site-dark;
		color: #FFF;
	}
	.navbar-nav>.active>a,
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus{
		background-color: $site-dark;
	}
}