body.page {
	&.home {
		padding-top: 0;
		footer.footer {
			margin-top: 0;
		}
	}
	// pages to make full width
	&.how-rich-am-i {
		div.page {
			margin: 0;
			width: 100%;
		}
	}
	&.deworm-world-initiative{
		#banner {
			@media(min-width:$screen-sm){
				background-position: center 60%;
			}
		}
	}
	&.deworm-world-initiative{
		#banner {
			@media(min-width:$screen-sm){
				background-position: center 20%;
			}
		}
	}
}