// COLOURS

$site-primary: #2c5aa9;
$site-highlight: #63c6f0;
$site-lolight: #00355d;

// coefficients
$darker-factor: 40%;
$dark-factor: 20%;
$lighter-factor: 40%;
$light-factor: 20%;

// site colours
$site-light: lighten($site-primary, $light-factor);
$site-lighter: lighten($site-primary, $lighter-factor);
$site-dark: darken($site-primary, $dark-factor);
$site-darker: darken($site-primary, $darker-factor);

$cea: $site-lolight;
$gwwc: #6C0000;
$eightythousandhours: #3FBDD1;
$gpp: #7E95CC;
$tlycs: #ED1A24;
$ace: #349895;