.mailchimp-signup {
	margin: $grid-gutter-width*2 0;
	form {
		padding: $grid-gutter-width 0;
		$border: 2px solid #6C0000;
		border-top: $border;
		border-bottom: $border;
		.row .form-control, .btn {
			width: 100%;
		}
	}
	#mailchimp-signup-result {
		margin: $grid-gutter-width/2 0 0;
	}
}

.mailchimp-signup-modal {
	@media(max-width:$screen-xs-max){
		.modal-title {
			font-size: 20px;
		}
	}
	.mailchimp-signup {
		margin: 0;
		h2 {
			display: none;
		}
		form {
			border: none;
			padding:0;
			@media(max-width:$screen-xs-max){
				p {
					font-size: 14px;
				}
			}
			.form-group {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}