.fundraising-progress-wrapper {
	clear: both;
	background-color: $site-secondary;
	overflow: hidden;
}
.fundraising-progress-content {
	.fundraising-progress-header {
		h3 {
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 $grid-gutter-width;
			@media(max-width:$screen-xs-max){
				font-size: 22px;
			}
		}
		.nav-header {
			display: none;
		}
	}
	.fundraising-progress-explanation {
		display: none;
		margin-bottom: $grid-gutter-width/2;
		p {
			@media(max-width:$screen-xs-max){
				font-size: 14px;
			}
		}
		a.btn {
			width: 100%;
			margin-bottom: $grid-gutter-width/2;
		}
		.close-progress-bar {
			background-color: transparent;
		}
	}
	.fundraising-progress-bar {
		$border: 3px solid #333;
		.progress {
			border-right: $border;
			margin-bottom: 0;
			border-radius: 4px 0 0 4px;
		}
		.target {
			font-weight: 700;
			text-align: right;
			padding-right: $grid-gutter-width/2;
			border-right: $border;
		}
		.progress-bar {
			transition: none;
		}
	}
}
.navbar {
	.fundraising-progress-wrapper {
		.fundraising-progress-content {
			margin: 0 $grid-gutter-width/2*-1;
			padding: $grid-gutter-width/2;
			border-bottom: $grid-gutter-width/2 solid darken($site-secondary,5%);
			@media(min-width:$screen-md){
				padding: $grid-gutter-width 0;
			}
		}
		.fundraising-progress-header {
			.nav-header {
				display: block;
			}
			.regular-header {
				display: none;
			}
		}
		.fundraising-progress-explanation {
			display: block;
		}
	}
}