#progress-bar-wrapper {
	clear: both;
	h3 {
		text-align: center;
		text-transform: uppercase;
	}
	.progress-bar {
		border: 5px solid #FFF;
		@media(min-width:$screen-md){
			border-width: $grid-gutter-width/2;
		}
		border-left-color: $site-primary;
		border-right-color: $site-secondary;
		background-color: $site-secondary;
	}
	.progress-bar-component {
		float:left;
		color: #FFF;
		overflow: hidden;
			p {
			text-align: center;
			font-weight: 700;
			margin: $grid-gutter-width;
			font-size: 16px;
			line-height: 1em;
			@media(min-width:$screen-md){
				font-size: 24px;
			}
		}
	}
	.progress-bar-pledged {
		background-color: $site-primary;
	}
	.progress-bar-donated {
		background-color: $site-ternary;
	}
	.progress-bar-remaining {
		background-color: $site-secondary;
		color: $site-primary;
	}
	.progress-bar-target {
		color: $site-primary;
		margin-top: $grid-gutter-width/2;
		width: 100%;
		border: 5px dashed $site-primary;
		@media(min-width:$screen-md){
			border-width: $grid-gutter-width/2;
		}
		border-top-color: #FFF;
	}
}