$pad: 15px;
.team-member {
	border: $pad solid $site-secondary;
	.team-member-photo {
		overflow: hidden;
		background-color: #edede5;
		display: block;
		width: 100%;
		padding-right: 0;
		@media(min-width:$screen-xs){
			display: table-cell;
			padding-right: $pad;
			margin-right: $pad;
			width: 150px;
			img {
				width: 150px;
			}
		}

	}
	.team-member-details {
		padding:$pad;
	}
	.team-member-position{
		font-style: italic;
		border-bottom: 2px solid $site-secondary
	}
}