.toc {
  background: lighten($site-primary, 57%);
  padding: $grid-gutter-width;
  margin: $grid-gutter-width 0;
  border-radius: 4px;
  .toc-header {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-bottom: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/2;
    border-bottom: 1px solid $site-primary;
  }
  .toc-contents {
    margin: 0;
    padding: 0;
  }
  ol,
  ul {
    list-style-type: none;
    // font-size: 1.4em;
  }
}
