.toc {
	background-color: $site-secondary;
	padding: $grid-gutter-width;
	$border: 2px solid $site-secondary-dark;
    border: $border;
    .toc-header {
		text-transform: uppercase;
		margin: $grid-gutter-width*-1 $grid-gutter-width*-1 $grid-gutter-width/2;
		border-bottom: $border;
		padding: $grid-gutter-width/2 $grid-gutter-width;
		small {
			text-transform: none;
		}
    }
    .toc-contents{
    	margin: 0;
    	padding: 0;
	}
	ol,ul {
		list-style-type: none;
		// font-size: 1.4em;
	}
}