/* article.post {
	$pad: 4px;
	padding-top: $pad;
	margin-top: $pad;
	transition: opacity .25s ease-in-out;
	.feature-heading {
		$padding: 120px;
		padding-top: $padding;
		padding-bottom: $padding;
		margin-bottom: 40px;
		text-align: center;
		@include cover-background();
		background-color: #333;
		.post-title {
			margin: 0;
			color: #FFF;
			a{
				color: #FFF;
			}
		}
		.date {
			font-family: $font-family-sans-serif;
			color: $gray-light;
			margin-top: 5px;
		}
	}
	.post-content {
		@include text-content();
	}

	
}
.article-navigation {
	text-align:center;
} */

article.post, div.page, div.author {
	@include text-content();
}

.post, .page {
	.first-paragraph {
		font-size: 1.3em;
		@media(min-width:$screen-sm){
			font-size: 1.6em;
		}
	}
}

.post {
	.post-header {
		background-color: #edede5;
    	padding: 30px;
    	margin-bottom: 30px;
    	h3 {
    		margin:0;
    	}
    	&.featured-image {
    		padding:0 0 56%;
    		position: relative;
    		background-color: $site-secondary;
    		background-repeat: no-repeat;
    		background-size: cover;
    		h3 {
    			position: absolute;
    			bottom: 0;
    			background-color: transparentize($site-primary,0.2);
    			color: #FFF;
    			padding: $grid-gutter-width;
    			width: 100%;
    		}
    	}
	}
	.post-details {
		$border: 2px solid $site-secondary;
		border-top: $border;
		border-bottom: $border;
		margin-bottom: $grid-gutter-width;
		p {
			margin:0;
		}
	}
}


