#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $site-secondary-dark;
  min-height: 30vh;
  &.banner-background {
    .text-background {
      width: 100%;
    }
  }
}
.page-title {
  width: 100%;
  text-align: center;
  color: $site-primary;
  font-size: 2.4em;
  padding: $grid-gutter-width;
  margin: 0;
  @media (min-width: $screen-sm) {
    font-size: 3em;
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $grid-gutter-width;
  }
}
#site-logo {
  margin: 75px auto 75px;
}

.header {
  position: relative;
  .image-attribution {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
    }
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px #444;
    margin-top: -50px;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
