.collection-items {
	.collection-item {
		border: 1px solid #eee;
		border-radius: 4px;
		height: 240px;
    	background-position:center;
		@media(min-width:$screen-md){
			height: 300px;
	    	background-position:center 65%;
		}
    	position: relative;
    	background-repeat: no-repeat;
    	background-size: cover;
    	margin-bottom: $grid-gutter-width;
    	&:hover {
    		opacity: 0.95;
    	}
    	.title {
    		background-color:  #FFF;
		    color:$site-primary;
		    padding: $grid-gutter-width/2;
		    bottom: 0;
		    position: absolute;
		    margin: 0;
		    width: 100%;
		    font-size: 18px;
    	}
    	.logo {
    		width: 30%;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    background-color: $site-secondary;
		    padding: 15px;
		    border: 2px solid $site-secondary-dark;
    	}
    	.post-details {
    		margin: 0;
    	}
    	.read-more-link {
    		display: inline-block;
    		position: absolute;
    		bottom: 5px;
    		margin: $grid-gutter-width/-2;
    		margin-bottom: 0;
    		padding: 5px $grid-gutter-width/2;
    		text-align: right;
    		width: 100%;
    	}
	}
	.charity {
		.title {
			padding-right: 30%;
		}
	}
	.report,.post {
		&:hover {
			opacity: 1;
		}
		padding: $grid-gutter-width/2;
		height: auto;
		.title {
			position: static;
			bottom: auto;
			width: auto;
			background-color: $site-primary;
			margin: ($grid-gutter-width/-2)-2;
			margin-bottom: $grid-gutter-width/2;
			padding: ($grid-gutter-width/2)+2;
			a {
				color: #FFF;
				&:hover {
					text-decoration: none;
					color: $site-secondary;
				}
			}
		}
		.excerpt {
			margin-bottom: $grid-gutter-width;
			margin-top: $grid-gutter-width / 2;
		    overflow: hidden;
		}
	}
	.post {
		.post-header {

			background-color: $site-secondary;
	    	&.featured-image {
				height: 340px;
				border-radius: 4px;
	    		margin: $grid-gutter-width/-2;
	    		margin-bottom: $grid-gutter-width/2;
	    		position: relative;
	    		background-color: $site-secondary;
	    		background-repeat: no-repeat;
	    		background-size: cover;
	    		h3 {
					position: absolute;
					font-size: 2em;
	    			margin:0;
	    			bottom: 0;
	    			background-color: #FFF;
	    			color:  $site-primary;
	    			padding: $grid-gutter-width/2;
	    			width: 100%;
	    		}
	    	}
		}
	}
}
