// @media (min-width: $screen-sm) {
// 	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
// 		height: 74px;
// 	}
// }
// @media (max-width: $screen-xs-max) {
// 	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
// 		padding-top: 12px;
// 	}
// }
#menu-main {
	&:hover {
		background-color: $site-primary !important;
	}
	& > .container {
		@media(min-width: $screen-md ){
			width: auto;
		}
		@media(min-width: $screen-lg ){
			width: $container-lg;
		}
	}
}
.navbar {
	transition: opacity .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	background-color: $site-primary;
	box-shadow: 0px 0px 15px #333;
	font-weight: 200;
}
.navbar-header {
	.navbar-brand {
		padding-top:10px;
		background-color: $site-primary;
		@media(max-width:$screen-xs-max){
			// padding-top:5px;
		}
	 	&:hover, &:focus {
	 		background-color: transparent;
	 	}
	}
	button {
		color: #FFF;
	}
	.donate-button-collapsed {
		color: #333;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 30px;
		position: relative;
		float: right;
		margin-right: 15px;
		padding: 9px 10px;
		background-color: $site-secondary;
		@media(min-width: $screen-md ){
			display: none;
		}
	}

}
.navbar-toggle {
	margin-top:0;
	margin-bottom:0;
	font-size: 30px;
	padding: 5px 10px;
}
.navbar-primary {
	border: none;
	.navbar-nav {
		> li > a {
			color: #FFF;
			&:hover, &:focus {
				background-color: $site-dark;
				color: #FFF;
			}
		}
		> .active > a, > .open > a {
			background-color: $site-dark;
			color: #FFF;
			&:hover, &:focus {
				background-color: $site-dark;
				color: #FFF;
			}
		}
		> .nav.donate,.nav.my-giving {
			font-weight: 700;
			background-color: $site-secondary;
			a {
				color: #333;
				&:hover, &:focus {
					color: #FFF;
				}
			}
		}
	}
}

.dropdown-menu{
	&>li>a {

		&:hover, &:focus {
			background-color: $site-primary;
			color: #FFF;
		}
		@media(max-width:$screen-sm-max){
			color: #FFF;
			&:hover, &:focus {
				background-color: $site-lolight;
			}
		}
	}
}
