.page-content,.post-content, .page-content>.overview, .page-content .report-contents {
	&>p, &>ul>li, &>ol>li {
		a, strong,b {
			font-weight: 700;
		}
		a.btn {
			font-family: $font-family-sans-serif;
			font-weight: 400;
		}
	}
	&>ul,&>ol {
		margin-left: 0;
		padding-left: 24px;
	}

	&>.container, &>figure>.container {
		padding: 0;
	}


	.first-paragraph {
		font-weight: 200;
		font-size: 1.4em;
		padding-bottom: 24px;
	}
}