body {
	&.home {
		padding-top: 0;
		footer.footer {
			margin-top: 0;
		}
	}
	&.how-rich-am-i {
		div.page {
			margin: 0;
			width: 100%;
		}
	}
	&.join{
		#banner {
			background-position: center bottom;
		}
	}
	&.deworm-world-initiative{
		#banner {
			@media(min-width:$screen-sm){
				background-position: center bottom;
			}
			@media(min-width:$screen-lg){
				background-position: center 80%;
			}
		}
	}
	&.against-malaria-foundation{
		#banner {
			@media(min-width:$screen-sm){
				background-position: center 20%;
			}
		}
	}
	&.causes {
		#banner {
			background-position: center 15%;
		}
	}
	&.try-giving{
		#banner {
			background-position: center 30%;
		}
	}
	&.about-us {
		#banner {
			background-position: center 20%;
		}
	}
	&.history {
		#banner {
			background-position: center 80%;
		}
	}
	&.frequently-asked-questions{
		h2 {
			@include centered-heading();
		}
		h3 {
			color: $site-ternary;
		}
		#banner {
			background-position: center 60%;
		}
	}
	&.top-charities{
		h2 {
			@include centered-heading();
		}
		h4 {
			color: $site-ternary;
		}
	}
	&.just-one-net {
		.page-title, .image-attribution {
			display: none;
		}
		#banner {
			background-image: url(https://images.contentful.com/yglmadi73s3x/34XnpCG6xq648osk4QwEGs/c21c61a318105f0e69787261a9b1e51c/just-one-net-site-banner.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-color: $site-secondary;
			background-size: 90%;
			background-attachment: scroll;
			@media(min-width:$screen-md){
				background-size: 50%;
			}
			@media(min-width:$screen-lg){
				background-size: 30%;
			}
		}
	}	

}