extends page
	
block content
	.container
		.row
			!= contents
			.col-md-4.col-sm-12.contact-form-container
				h3 
					i.fa.fa-envelope
					|  Contact Form
				p Fill in the contact form to send us an email:
				noscript
					.alert.alert-warning
						p 
							i.fa.fa-warning
							|  This form requires Javascript to be enabled.
				form.hidden(id="contactForm" name="contact" action="/thank-you" method="post" netlify)
					.form-group
						label(for="name") Name
						.input-group
							.input-group-addon
								i.fa.fa-user
							input.form-control(type="text" name="name" placeholder="Your Name" required)
					.form-group
						label(for="email") Email address
						.input-group
							.input-group-addon
								i.fa.fa-at
							input.form-control(type="email" name="email" placeholder="you@example.com" required)
					.form-group
						label(for="subject") Subject
						.input-group
							.input-group-addon
								i.fa.fa-paragraph
							input.form-control(type="text" name="subject" placeholder="Subject Line" required)
					.form-group
						label(for="message") Message
						textarea.form-control(name='message' rows='5' placeholder="Your message" required)
					button.btn.btn-primary(type="submit")
						i.fa.fa-paper-plane
						|  Send!



block scripts
	script.
		// show the submit button (hidden for noscript)
		$('form').removeClass('hidden');
		// validate the form
		var validator = $("#contactForm").validate({
			rules: {
				email: {
					required: true,
					email: true
				}
			},
			errorElement: "p",
			errorClass: "error",
			errorPlacement: function(error, element) {
				error.appendTo( element.parents(".form-group") );
				element.next('p').addClass('help-block');
				element.parents('.form-group').addClass('has-error');				
			}
		});
		$('.form-control').on('keyup keydown focus blur',function(){
			var el = $(this);
			setTimeout(function(){
				if(el.hasClass('error')){
					el.parents('.form-group').removeClass('has-success').addClass('has-error');	
				} else if (el.hasClass('valid')) {
					el.parents('.form-group').removeClass('has-error').addClass('has-success');
				}
			},100);
		});