extends page

block scripts
	script.
		(function($){
			var currencyMap = {
				"USD":'usd',
				"BTC":'btc',
				"EUR":'eur',
				"GBP":'gbp',
				"AUD":'dollar',
				"CAD":'dollar',
				"CHF":'money',
				"HKD":'dollar',
				"HRK":'money',
				"INR":'inr',
				"JPY":'jpy',
				"NOK":'money',
				"NZD":'dollar',
				"SGD":'dollar'
			}
			$(document).ready(function(){
				var select = $('select#bitcoin-currency');
				var updateBitcoinDisplay = function(){
					var text = '<i class="fa fa-'+currencyMap[select.val()]+'"></i> '+select.val();
					$('#bitcoin-currency-display').html(text)
				}
				updateBitcoinDisplay();
				select.change(function(){
					updateBitcoinDisplay();
				});
			});
		}(jQuery))

