nav.navbar.navbar-default.navbar-fixed-top#main-nav
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse" data-target="#main-nav-collapse").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				| Menu 
				i.fa.fa-bars
			a(href=relative('/')).navbar-brand
				img(src="/images/logos/cea-logo-nav.png")
				//- != siteInfo.title
		div.collapse.navbar-collapse#main-nav-collapse
			ul.nav.navbar-nav.navbar-right
				each page in collections.pages
					//- use the Page's menuTitle attribute if it exists, or default to using the 'title' attribute
					- var pageTitle = page.menuTitle ? page.menuTitle : page.title;
					//- Check if the page is a top level page
					if page.topLevelPage && page.showInNav !== false
						//- add 
						li(class=[
									'nav',
									// get the slug from the path if we're not home, otherwise use 'home'; hide the 'home' link at large screen sizes.
									(page.path !== './' ? page.path : 'home'),
									// if this is the current page, or is the parent of a current page, mark it as active,
									(path === page.path || parent && parent===page.path ?'active':''),
									// if the page has children, it needs a 'dropdown' class
									(page.children && page.children.length ? 'dropdown' : '')
								])
							if page.children && page.children.length 
								//- if the page has children, build a bootstrap dropdown
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
									!= pageTitle
									span.caret
								ul.dropdown-menu
									li(class=[(path === page.path?'active':'')])
											a(href=relative(page.path))!= pageTitle
									li.divider(role="separator")
									each child in page.children
										//- use the child page's menuTitle attribute if it exists, or default to using the 'title' attribute
										- var childTitle = child.menuTitle ? child.menuTitle : child.title;
										if  child.showInNav !== false
											li(class=[(path === child.path?'active':'')])
												a(href=relative(child.path))!= childTitle
							else
								//- otherwise just build a normal nav link
								a(href=relative(page.path))
									!= pageTitle